@media (max-width: 660px) {
    .navbar  {
        width: 100%;
        display: inline-flex;
        flex-direction: row;
    }
    
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    
    ul li {
        width: 150px;
        display: inline-block;
        margin-left: 20px;
    }
    
    ul li:hover {
        border-bottom: solid 7px var(--greenSoft);
        cursor: pointer;
    }
    
    ul li a {
        text-decoration: none;
        color: #fff;
    }
    
    .apresentation {
        margin-top: 150px;
        align-items: center;
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        margin-left: 0;
        padding: 0;
        gap: 0;
    }
    
    .apresentationText {
        font-size: 1em;
    }
    
    .LDMCJR {
        width: auto;
    }
    
    .SectionTechnologies {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: max-content;
        justify-content: center;
    }
    
    .EachTechnology {
        justify-content: center;
    }
    
    .EachTechnology .description {
        margin-left: 10%;
        margin-top: 100px;
        padding-top: 20px;
        font-size: 20px;
        position: absolute;
        top: 50%;
        transform: translateY(-100%);
        background-color: rgba(0, 0, 0, 0.8);
        color: #fff;
        border-radius: 5px;
        opacity: 0;
        transition: opacity 0s ease;
    }
    
    .containerKnowMe { 
        height: max-content;
    }
    
    .content {
        width: 100%;
        height: max-content;
        display: none;
    }
    
    .content.active {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    
    .fotosContent {
        padding: 0;
        margin-left: 25%;
        width: 50%;
        height: 100%;
    }
    
    .fotosContentLDMCJR {
        padding: 0;
        margin-left: 25%;
        width: 50%;
        height: 200px;
    }
    
    .fotosContentRSS {
        padding: 0;
        margin-left: 10%;
        width: 80%;
        height: 200px;
    }
    
    #topicSelect:focus {
        outline: none;
    }
    
    .toggle-buttonCertificates {
        width: 100%;
        font-size: 1em;
    }
}
