:root {
    --blueSky-color: rgb(76, 171, 248);
    --blueOcean-color: rgb(36, 82, 167);
    --greenSoft: rgb(134, 184, 134);
    --YellowDescriptions: #d3e71b;
    --blackGeneral: #1a1a1a;
}

* {
    margin-bottom: 0;
    margin-right: 0;
    padding-right: 0;
    box-sizing: border-box;
}

/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Fjalla+One&display=swap');

body {
    background-image: url('../images/ramonalisa.jpg');
    background-position: top;
    background-size: 12%;
    display: flex;
    flex-direction: column;
    margin-top: 1%;
}

.navbar {
    position: fixed;
    width: 100%;
    z-index: 4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--blackGeneral);
    color: #fff;
    padding: 10px 20px;
}

.navbar.contact-open {
    height: auto;
    overflow: visible;
}

.logo {
    margin-left: 2%;
    font-size: 30px;
    font-weight: bold;
}

.linksMenu {
    width: max-content;
    display: flex;
    margin-right: 90px;
}

.LinksMenuLi {
    width: max-content;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li {
    width: 150px;
    display: inline-block;
    margin-left: 20px;
}

ul li:hover {
    border-bottom: solid 7px var(--greenSoft);
    cursor: pointer;
}

ul li a {
    text-decoration: none;
    color: #fff;
}

.toggle-contatos {
    display: flex;
    justify-content: center;
    cursor: pointer;
    position: fixed;
    top: 60px;
    width: 0;
    right: 0;
    height: 100%;
    background-color: #ffffff;
    color: #fff;
    transition: 1.8s;
    overflow-y: auto;
    z-index: 2; /* Adjust z-index to ensure it's above other elements */
}

.toggle-contatos.expanded {
    width: 200px;
    z-index: 3; /* Increase z-index further when expanded */
}

.toggle-contatos ul {
    padding: 0;
    margin: 0;
}

.toggle-contatos ul li {
    margin-top: 10px;
    list-style: none;
    padding: 10px;
}

.toggle-contatos ul li a {
    text-decoration: none;
    color: #fff;
}

.Icons {
    display: flex;
    width: 50%;
    height: 20vh;
}

.Icons:hover {
    cursor: pointer;
    border: 5px solid var(--blackGeneral);
}

.ola {
    display: block;
    font-size: 30px;
    font-family: "Bebas Neue", sans-serif;
    margin-left: 5%;
    margin-top: 3%;
}

.LDMCJR {
    border-radius: 10px;
    width: 500px;
    height: 250px;
}

.apresentation {
    display: flex;
    flex-direction: row;
    margin-left: 15%;
    margin-top: 12%;
    font-size: 25px;
    width: 61%;
    gap: 10%;
}

.apresentationText {
    padding: 30px;
    border-radius: 8px;
    font-family: cursive;
    background-color: var(--greenSoft);
}
/* Additional CSS for expanded class */
.SectionTechnologies.expanded {
    display: flex;
}

/* The rest of your CSS remains the same */

.SectionTechnologies {
    display: flex;
    width: 80%;
    align-self: center;
}

.EachTechnology {
    height: auto;
    display: none;
    margin-top: 10%;
    position: relative;
}

.EachTechnology .description {
    padding-top: 20px;
    font-size: 20px;
    position: absolute;
    top: 90%;
    transform: translateY(-100%);
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0s ease;
}

.EachTechnology.active .description {
    opacity: 1;
    display: flex;
}

.EachTechnology:hover .description {
    opacity: 1; /* Show description on hover */
    transform: translateY(-100%); /* Move description above the image */
    width: 80%;
    height: auto;
}

.EachTechnology:not(:hover) .description {
    opacity: 0; /* Hide description when not hovered */
    transform: translateY(0); /* Reset transform */
}

.EachTechnology img {
    display: flex;
    width: 80%;
    height: 400px;
    transition: opacity 1.0s ease;
}

.toggle-buttonTechnologies {
    text-align: center;
    align-self: center;
    cursor: pointer;
    font-family: 'Cormorant Garamond';
    font-style: italic;
    font-size: 40px;
    width: 100%;
    height: auto;
    background-color: var(--blackGeneral);
    color: #ffff;
    font-weight: bold;
    margin-top: 5%;
    margin-bottom: 2%;
    border-radius: 10px;
    border-style: none;
    padding: 10px;
    border: 6px solid #ffff;
}

.knowMe {
    font-size: 25px;
    width: 100%;
    font-family: 'Cormorant Garamond';
    font-style: italic;
    font-size: 40px;
    width: 100%;
    align-self: center;
    text-align: center;
    background-color: var(--blackGeneral);
    color: var(--YellowDescriptions);
    font-weight: bold;
    margin-top: 5%;
    border-radius: 10px;
}

.menuKnowMe button {
    cursor: pointer;
}

.menuKnowMe {
    text-align: center;
    margin-bottom: 60px;
}

.containerKnowMe {
    border-top: solid 25px var(--blackGeneral);
    border-left: solid 15px var(--blackGeneral);
    border-right: solid 15px var(--YellowDescriptions);
    border-bottom: solid 25px var(--YellowDescriptions);
    background-image: url('../images/sexPistols.jpg');
    background-position: left;
    background-size: 50%;
    width: 80%;
    height: 300px;
    margin: 0 auto;
}

.content {
    width: 100%;
    height: 300px;
    display: none;
    margin: 0;
    position: static;
}

.content.active {
    width: 100%;
    height: 100%;
    display: flex;
    margin: 0;
    position: static;
}

mark {
    position: static;
    background-color: var(--blackGeneral);
    color: var(--YellowDescriptions);
    opacity: 0.7;
}

.descricaoKnowAboutMe {
    position: static;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-weight: 1000;
    color: var(--YellowDescriptions);
}

.fotosContent {
    width: 35%;
}

.fotosContentLDMCJR {
    width: 45%;
}

.fotosContentRSS {
    width: 50%;
}

#pauseButton {
    margin-top: 50px;
    border: 5px solid var(--blackGeneral);
    padding: 0;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    border-radius: 8px;
    width: 200px;
    height: 60px;
    background-color: var(--blackGeneral);
    color: var(--YellowDescriptions);
}

#pauseButton:hover {
    height: 100px;
    width: 220px;
    font-size: 30px;
}

#topicSelect {
    margin-top: 120px;
    border: 5px solid var(--blackGeneral);
    background-color: var(--blackGeneral);
    color: var(--YellowDescriptions);
    height: 60px;
    border-radius: 8px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    font-size: 15px;
}

#topicSelect:focus {
    outline: none;
}

.sectionAbout {
    padding-top: 20px;
    border: 30px solid transparent;
    border-top: solid 15px var(--YellowDescriptions);
    border-left: solid 15px var(--YellowDescriptions);
    align-self: center;
    display: flex;
    width: 70%;
}

.portfolio-section {
    align-self: center;
    width: 85%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Adjust number of columns based on available space */
    gap: 20px; /* Adjust gap between grid items */
}

.site {
    height: max-content; /* Set height of each site container */
}

.site iframe {
    display: flex;
    border: none; /* Remove iframe border */
    width: 380px; /* Set iframe width to fill its container */
    height: 500px; /* Set iframe height to fill its container */
    justify-content: center;
    padding: 5px;
}

.siteComing {
    border: solid black 5px;
    display: flex;
    width: 100%; /* Set iframe width to fill its container */
    height: 560px; /* Set iframe height to fill its container */
    justify-content: center;
    align-items: center;
}

.siteComing p {
    color: var(--blackGeneral);
    background-color: var(--YellowDescriptions);
    font-size: 30px;
    padding: 8px;
}

.titlePortfolioSection {
    margin-left: auto;
    padding: 10px;
    font-family: 'Cormorant Garamond';
    font-style: italic;
    font-size: 40px;
    width: 100%;
    justify-content: center;
    text-align: center;
    background-color: var(--blackGeneral);
    color: var(--YellowDescriptions);
    font-weight: bold;
    margin-top: 5%;
    margin-bottom: 2%;
    border-radius: 10px;
}

.linksSites {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    width: 100%;
    height: 30px;
    border-radius: 8px;
    background-color: var(--blackGeneral);
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
}

.linksSites:hover {
    height: 40px;
    border: solid #fff;
}

.textLinks {
    text-align: center;
    width: 100%;
    text-decoration: none;
    color: var(--YellowDescriptions);
}

#toggle-buttonCertificates {
    border: 6px solid #ffff;
    font-size: 40px;
    cursor: pointer;
    width: 100%;
    height: auto;
    background-color: var(--blackGeneral);
    margin-top: 5%;
    border-radius: 10px;
    padding: 10px;
    font-weight: bold;
    color: #ffff;
    font-style: italic;
    font-family: 'Cormorant Garamond';
}

/* Style for the image section */
.image-section {
    align-self: center;
    text-align: center;
    margin: 1em 0;
}

.image-section img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

footer {
    margin-top: 100px;
    background-color: var(--blackGeneral);
    text-align: center;
    padding: 10px;
    width: 100%;
    bottom: 0;
}

footer p {
    color: #fff;
    font-size: 30px;
    margin: 0;
}
